<aside class="auth-sidebar">
  <p class="auth-sidebar__logo">
    <img src="/logo-white.svg" alt="logo icon" width="82" height="82" />
    <span>Storage</span>
  </p>

  <h1 class="heading-1 auth-sidebar__title">Manage your files the best way</h1>
  <p class="body-1 auth-sidebar__description">
    Awesome, we've created the perfect place for you to store all your
    documents.
  </p>

  <img
    src="/images/folder.png"
    alt="folder"
    width="342"
    height="342"
    class="auth-sidebar__folder-image"
  />
</aside>
